<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.bookStore">

	<application
		android:name=".App.App"
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppThemeLight">
		<activity
			android:name=".ui.StoreActivity"
			android:label="@string/store">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".store.UpdateBookAct"
			android:label="BookUpdate" />
		<activity
			android:name=".Import.ImportActivity"
			android:label="AddBooks" />
		<activity
			android:name=".Persons.PersonsActivity"
			android:label="@string/distributors" />
		<activity
			android:name=".Cards.DistributorCardActivity"
			android:screenOrientation="portrait" />
		<activity
			android:name=".ui.SelectBookActivity"
			android:label="@string/selectBook" />
		<activity
			android:name=".Calculation.CalcActivity"
			android:label="@string/inventory" />
		<activity
			android:name=".Calculation.CalcInputAct"
			android:theme="@style/DialogLight" />
		<activity
			android:name=".Reports.JointActivity"
			android:label="@string/reports" />
		<activity
			android:name=".Preference.PrefActivity"
			android:label="PrefActivity" />
		<activity
			android:name=".Preference.PrefReportActivity"
			android:label="@string/reportSettings">
			<intent-filter>
				<action android:name="com.bookStore.preferences.ACTION_PREFERENCE_REPORT" />

				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name=".Preference.BackupAndRestore"
			android:label="@string/savedCopies">
			<intent-filter>
				<action android:name="com.bookStore.preferences.ACTION_BackupAndRestore" />

				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name=".Cards.EditorActivity"
			android:label="Cards.EditorActivity" />
		<activity
			android:name=".Cards.GetMissingBookActivity"
			android:label="@string/selectBook" />
		<activity
			android:name=".ui.SaleActivity"
			android:label="@string/title_activity_card_date"
			android:theme="@style/AppThemeLight" />
		<activity android:name=".ui.SaleHistoryActivity"></activity>
	</application>

</manifest>